#header-img {
  height: 40%;
  width: 40%;
  background-color: grey;
  padding: 0px;
  margin: 0px;
  
}

#nav-bar {
  position: fixed;
    width: 100%;
    top: 0;
}

#carouselExampleControls {
  padding-top: 100px;
}

.form {
  padding-top: 35px;
}

.center-this {
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 3700px;
}

a:hover {
  color: yellow !important;
}